body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.lorem {
    font-style: italic;
    color: #AAA;
}
#sync-error, #sync-success {
    display: none;
}

[data-sync-state=syncing] #sync-success {
    display: block;
}

[data-sync-state=error] #sync-error {
    display: block;
}
